.popup__caption_place_register {
    text-decoration: none;
    max-width: 358px;
    margin-top: 15px;
    text-decoration: none;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: black;
    text-align: center;
}